.options {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.options button {
    border-radius: 3px;
    border: 1px solid green;
    padding: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}